* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
  text-align: left;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

.app {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ffffff;
  text-align: justify;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.language-button {
  padding: 12px 20px;
  font-size: 1.1rem;
  background-color: #0D6EFD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

.language-button.active {
  background-color: #FFC107;
}

.card {
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 750px;
  text-align: left;
  min-height: 180px;
  transition: all 0.3s ease;  
}

.card h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.card p {
  font-size: 1rem;
  color: black;
  line-height: 1.6;
}
